<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
   <link rel="stylesheet" href="/css/style.css">
    <title>Financial Planner</title>
</head>
<body>
    <header>
        <h1> Financial Planner</h1>
        <nav>
            <!-- Conditionally render login or logout links -->
       {{#if logged_in}}
            <a href="/inventory">Stock inventory</a> |
            <a href="/wallet">Check Account</a>
            <a href="/operations">Buy and Sell Stocks</a>
            <button class="no-button" id="logoutbtn">logout</button> |
             {{else}}
            <a href="/login">login</a>
            <a href="">Mainpage</a>
               {{/if}}
        </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <div>
            <h1>Financial Planner© 2021</h1>
            <h1>Get in contact!</h1>
            <h1>example@gmail.com</h1>
        </div>
    </footer>
</body>

<script src="/js/logout.js"></script>
</html>

