<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/reset.css">
   <link rel="stylesheet" href="/css/style.css">
    <title>Financial Planner</title>
</head>
<body>
    <header class="mainHeader">
        <h1> Financial Planner</h1>
        <nav>
            <ul>
            <!-- Conditionally render login or logout links -->
       {{#if logged_in}}
            <li><a href="/inventory">Stock inventory</a></li>|
            <li><a href="/wallet">Check Account</a></li>
            <li><a href="/operations">Buy and Sell Stocks</a></li>
            <li><button class="no-button" id="logoutbtn">logout</button></li> |
             {{else}}
            <li><a href="/login">login</a></li>
            <li><a href="">Mainpage</a></li>
               {{/if}}
        </nav>
        </ul>
    </header>
    <main>
        {{{ body }}}
    </main>
 <footer id="contact" class="footer">
         <hr class="hr">
         <h2> Let's Talk!</h3>
         <h4>Click on the button so we can get in touch</h4>
         <a class="btn" href="mailto:example@gmail.com">Contact</a>
         <h4>Financial Planner©</h4>



     </footer>
</body>
</html>
