<section class="section">
<div class>
    <form class="form login-form">
<h1>Login</h1>
<h2>Email</h2>
<input id = "emailbtn" type="email">
<h2>Password</h2>
<input id = "passwordbtn" type="Password">
<br>
<button id = "submitbtn" type="submit"> Submit</button>
</div>
</form>
<div>
    <form class="signup-form">
    <h1>Signup!</h1>
    <h2>Name:</h2>
    <input id = "namebtn" type="name">
    <h2> Email:</h2>
    <input id="emailLogin" type="email">
    <h2>Password:</h2>
    <input id= "passwordLogin" type="password">
    <br>
    <button id = "signupBtn" type="submit"> Submit</button>

</form>
</div>
</section>
<script src="/js/login.js"></script>