
  /* Styles go here */

  p{
    font-family: 'Newsreader', serif;
    font-family: 'Playfair Display', serif;
    margin: 1px;
  }
  
  .hr{
    /* position: relative;*/
    width: 40%;
    border-top: 3px solid;
    border-bottom: none;
    margin: auto;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    text-align: center;
    padding-top: 1.5rem;
    padding-left: 2rem;
    font-family: 'Playfair Display', serif;
  }

  .navbar{
      display: flex;
      justify-items: right ;
      text-align: right;
      margin-left: 200px;
  }

hr{
    width: 90%;
    border-top: 3px solid;
    border-bottom: none;
    margin: auto;
    text-align: center;

}

a{
    text-decoration: none;
    color:snow;
  }




.mainHeader{
    background-color: #CC9B6D;
    padding-top: 10px;
    display: flex
};

.tags{
    display: flex;
    flex-direction:column;
    left: 50px;
    
}

.mainHeader nav ul li{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.3rem;
    margin-right: 1.3rem;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2.5;
    margin-top: 5px;
    font-family: 'Newsreader', serif;
    font-family: 'Playfair Display', serif;
}

footer div ul li{
    display: flex;
    flex-flow:column;
    justify-content: flex-end;
    margin-left: 1.3rem;
    list-style: none;
}

.no-button{
    margin-top: 1rem;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 30px;
    color: black;
    font-family: Garamond;
    font-size: 20px;
    font-weight: 150;
    padding: 5px;
    background-color: #F2DAC3;
    border: solid #F2DAC3 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    bottom: 20px;
}
.no-button:hover {
    background: #1E62D0;
    border: solid #66BFBF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.btn {
    margin-top: 1rem;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: black;
    font-family: Garamond;
    font-size: 25px;
    font-weight: 150;
    padding: 15px;
    background-color: #F2DAC3;
    border: solid #F2DAC3 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }

 .btn:hover {
    background: #1E62D0;
    border: solid #66BFBF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 .footer{
     background-color: #C8C2BC;
     padding-bottom: 15px;
     text-align: center;
     font-size: 1.4rem;
 }

.video{
    text-align: center;
    margin-top: 1rem;
}

.information{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.team{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.images{
    border-radius: 2rem;
    padding-top: 1rem;
}

.hr1{
    width: 40%;
    border-top: 3px dotted;
    border-bottom: none;
    margin: auto;
    text-align: center;
}


 main{
     background-color: #F1CA89;
     padding-bottom: 20px;
 }

 .section{
    display: flex;
    justify-content: space-evenly;
 }

 input{
     border-radius: 2rem;
 }

 #submitbtn{
    margin-top: 1rem;
 }

 #signupBtn{
    margin-top: 1rem;
 }
.img2{
    margin-top: 10px;
    border-radius: 70px;
}

 .img1{
     margin-top: 5px;
     border-radius: 5rem;
     text-align: center;
 }

 .financial_products{
     display: flex;
     flex-direction:row;
     justify-content:space-evenly;
     margin-left: 25px;
     margin-bottom: 30px;
    
 }

 .financialbtn{
     margin-left: 30px;
     margin-top: 15px;
 }

 #wallet-table{
     margin-top: 30px;
     justify-content: center;
     display:inline-block;
     left: 600px;
 }

 .titles{
     display: flex;
     flex-wrap: nowrap;
     justify-content:space-evenly;
     margin-right: 80px;
 }

 .Inventory{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-evenly;
 }

 .financialbtn {
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    height: 20px;
    line-height: 0px;
    color: #000000;
    font-family: Times New Roman;
    width: 137px;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #F9F9F9;
    -webkit-box-shadow: 1px 0 4px 0 #FFFFFF;
    -moz-box-shadow: 1px 0 4px 0 #FFFFFF;
    box-shadow: 1px 0 4px 0 #FFFFFF;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .financialbtn:hover {
    background: #C2C9D4;
    border: solid #FFFFFF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

#gain{
    margin-top: 20px;
    margin-left: 30px;

}

#spent{
    margin-top: 20px;
    margin-left: 30px;

}

 .wallet-form{
     margin-top: 30px;
     display: flex;
     flex-wrap: nowrap;
     justify-content: center;
 }
 
.btndiv{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

 #walletBtn{
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    height: 20px;
    line-height: 0px;
    color: #000000;
    font-family: Times New Roman;
    width: 137px;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    background-color: #F9F9F9;
    -webkit-box-shadow: 1px 0 4px 0 #FFFFFF;
    -moz-box-shadow: 1px 0 4px 0 #FFFFFF;
    box-shadow: 1px 0 4px 0 #FFFFFF;
    border: solid #FFFFFF 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
   
 }
 
 #walletBtn:hover {
    background: #C2C9D4;
    border: solid #FFFFFF 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }